{% extends 'base.html.twig' %}

{% block title %}{{message}}{% endblock %}

{% block body %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>Responsive bottom navigation</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">Roman Battle Simulator</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">
                                <i class='bx bx-home-alt nav__icon'></i>
                                <span class="nav__name">Home</span>
                            </a>
                        </li>
                        
                        <li class="nav__item">
                            <a href="#about" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">About</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#skills" class="nav__link">
                                <i class='bx bx-book-alt nav__icon'></i>
                                <span class="nav__name">Skills</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#portfolio" class="nav__link">
                                <i class='bx bx-briefcase-alt nav__icon'></i>
                                <span class="nav__name">Portfolio</span>
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#contactme" class="nav__link">
                                <i class='bx bx-message-square-detail nav__icon'></i>
                                <span class="nav__name">Contactme</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <img src="assets/img/perfil.png" alt="" class="nav__img">
            </nav>
        </header>

        <main>
            <!--=============== HOME ===============-->
            <section class="container section section__height" id="home">
                <h2 class="section__title">{{ 'home.title'|trans|raw }}</h2>
                <div class="card_container">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('build/images/roman_units.jpg')}}" alt="roman_unit_card1">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'home.centuria-title-one'|trans|raw}}</h5>
                        <p class="card-text">{{ 'home.centuria-description-one'|trans|raw}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Centuria 1</li>
                        <li class="list-group-item">Centuria 2</li>
                        <li class="list-group-item">Centuria 3</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                {# <div id="app">
                    {% for result in results %}
                        <li>{{ result }}</li>
                    {% endfor %}
                </div> #}

                <div class="card" style="width: 18rem;">
                    <img src="{{ asset('build/images/roman_units_blue.jpg')}}" alt="roman_unit_card2">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'home.centuria-title-two'|trans|raw}}</h5>
                        <p class="card-text">{{ 'home.centuria-description-two'|trans|raw}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Centuria 1</li>
                        <li class="list-group-item">Centuria 2</li>
                        <li class="list-group-item">Centuria 3</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                </div>
                <div class="launch_battle_container">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        {{ 'home.launch-button'|trans|raw }}
                    </button>
                </div>

            </section>

            <!--=============== ABOUT ===============-->
            <section class="container section section__height" id="about">
                <h2 class="section__title">About</h2>
            </section>

            <!--=============== PORTFOLIO ===============-->
            <section class="container section section__height" id="portfolio">
                <h2 class="section__title">Portfolio</h2>
                <div id="portfolio_frame">
                    <a href="{{path('app_home',)}}"> <box-icon type='logo' size='lg' name='netlify'></box-icon></a>
                </div>
            </section>

            <!--=============== CONTACTME ===============-->
            <section class="container section section__height" id="contactme">
                <h2 class="section__title">Contactme</h2>
            </section>
        </main>
        

        <!--=============== MAIN JS ===============-->
        <!--<script src="assets/js/main.js"></script>-->
    </body>
</html>

{% block stylesheets %} {{ encore_entry_link_tags('app_') }}{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('app_') }}{% endblock %}

{% endblock %}


